!!! 5
%hmtl
  %head
    %title Educated Guess
    %link{:rel => "stylesheet", :href => "bootstrap.min.css", :type => "text/css"}
    /%link{:rel => "stylesheet", :href => "bootstrap-responsive.min.css", :type => "text/css"}
    %link{:rel => "stylesheet", :href => "custom.css", :type => "text/css"}

    %script{:type => "text/javascript", :src=> "jquery-1.9.1.min.js"}
    %script{:type => "text/javascript", :src=> "bootstrap.min.js"}
    %script{:type => "text/javascript", :src=> "custom.js"}
  %body
    .container
      .row
        .span12
          %h2 
            Educated Guess
          %h4 
            (A targeted password dictionary generator)
      .row
        .span12
          .well 
            Educated Guess takes seed words and crosses them common passwords.
            You can use Educated Guess to perform dictionary attack pentests on 
            your network. Simply add some words, then pick the list you want to cross
            it with and the modes you want to include in the wordlist generation.
      .row 
        .span4
          %h4
            Pick a list(s)
          %table.table 
            %tr
              %th 
                Wordlist
              %th 
                Size (bytes)
              %th 
                Use it?
            - wordlists.each do |wordlist|
              %tr
                %td
                  = wordlist[:name]
                %td
                  = wordlist[:size]
                %td
                  %input.wordlist-checkbox{:type=> "checkbox", :id=>"check_" + wordlist[:name]}
        .span4
          %h4
            Choose Options
          %table.table
            %tr
              %td
                Include wordlist by itself?
              %td
                %input{:type=> "checkbox", :id=>"opt_own_wordlist", :checked=>"checked"}
            %tr
              %td
                Include seedlist by itself?
              %td
                %input{:type=> "checkbox", :id=>"opt_own_wordlist", :checked=>"checked"}
            %tr
              %td
                Seeds + wordlist appened and prepend. 
              %td
                %input{:type=> "checkbox", :id=>"opt_own_wordlist", :checked=>"checked"}
            %tr
              %td
                Include numbers 0-99
              %td
                %input{:type=> "checkbox", :id=>"opt_num_99", :checked=>"checked"}
            %tr
              %td
                Include numbers 100-9999
              %td
                %input{:type=> "checkbox", :id=>"opt_num_9999"}
            %tr
              %td
                Seeds forward + reversed.
              %td
                %input{:type=> "checkbox", :id=>"opt_bak"}
            %tr
              %td
                Cross seeds + wordlist + numbers?
              %td
                %input{:type=> "checkbox", :id=>"opt_seeds_wordlist_num_cross"}

        .span4
          %h4
            Enter Seeds
            %pre
              %textarea.seed-area#seed_area
            %span#notes-seeds
              words: 0
            %br
            %span#estimated_dict_size
              Estimated dictionary size: 0 words
            %br
            %span#estimated_file_size
              Estimated File size: 0 kb
            %br
            %input.btn.btn-success#submit-list{:type=> "submit", :value=>"submit" }


      .row
        .span12
          .well
            Note: any lists generated here will be available only to your browser session and only for 24 hours. After that
            they are permanently deleted from the server.

      .row 
        .span12
          %ul.nav.nav-pills
            %li 
              %a{:href => "/"}
                Home
            %li 
              %a{:href => "http://github.com/a-r-d"} 
                Other Projects
            %li 
              %a{:href => "http://a-r-d.me"} 
                &copy;  Aaron Decker
